<div class="shows-search-container row">

	<!--/* SEARCH FILTERS */-->
	<div class="col-3 col-sm-3 col-md-2 col-lg-2">
		<form [formGroup]="filters">

			<p-card [header]="'SHOWS.SEARCH.FILTERS.TITLE' | translate">
				
				
				<!--/* GENRE */-->
				<p-divider align="left"><b>{{'SHOWS.SEARCH.FILTERS.GENRE.TITLE' | translate}}</b></p-divider>
				<p>
					<p-listbox 
						[options]="filterGenre" 
						formControlName="genre"
						optionLabel="label"
						optionValue="id">
					</p-listbox>
				</p>


				<!--/* DECADE */-->
				<p-divider align="left"><b>{{'SHOWS.SEARCH.FILTERS.DECADE.TITLE' | translate}}</b></p-divider>
				<p>
					<p-selectButton 
						[options]="filterDecade" 
						formControlName="decade"
						optionLabel="label"
						optionValue="id">
					</p-selectButton>
				</p>

				<!--/* SCORE */-->
				<!-- TODO -->

			</p-card>
		</form>
	</div>

	<!-- /* SEARCH RESULTS */-->
	<div class="col-9 col-sm-9 col-md-10 col-lg-10">
		<app-show-search-result *ngFor="let result of results"></app-show-search-result>
	</div>

</div>