.shows-search-container
	::ng-deep 

		// Filters container
		p-panel
			.p-panel-header
				background-color: #00418c
				border-color: #fff
				border-bottom: none

			.p-panel-content
				border-color: #fff
				background-color: #1c63b5

		.p-card
			background-color: #00418c
			color: #fff

		// Filters divider
		.p-divider.p-divider-horizontal:before
			border-color: #fff
		.p-divider .p-divider-content
			background-color: #00418c

		// Filter: genre
		.p-listbox 
			border: none
			background-color: #00418c
			color: #fff

			.p-listbox-list
				padding: 0
				
				.p-listbox-item
					color: #fff
					background-color: #032750
					border-radius: 3px

					&:not(:last-child)
						margin-bottom: 5px 

					// Hover	
					&:not(.p-disabled):hover,
					// Selected
					&.p-highlight
						background: #1173e4
						border-color: #1173e4

					// Focus
					&:focus
						box-shadow: none
						outline: none

		// Filter: decade
		.p-buttonset 
			.p-button
				border-radius: 3px
				border-color: #032750
				background-color: #032750
				color: #fff
				margin: 5px

				&:not(:first-of-type):not(:last-of-type)
					border-radius: 3px
				
				&:first-of-type
					border-bottom-right-radius: 3px
					border-top-right-radius: 3px

				&:last-of-type
					border-bottom-left-radius: 3px
					border-top-left-radius: 3px

				// Hover	
				&:not(.p-disabled):hover,
				// Selected
				&.p-highlight
					background: #1173e4
					border-color: #1173e4

				// Focus
				&:focus
					box-shadow: none
					outline: none