<nav class="top-bar-container">

	<div class="left-side">
		<a class="app-title" routerLink="/">STREAMING</a>
	</div>

	<div class="right-side">

		<!-- Menu options -->
		<ul class="menu-options">
			<li 
				*ngFor="let menuItem of menuOptions" 
				class="menu-option"
				[ngClass]="{disabled: menuItem.disabled}">
				<a class="menu-link" [routerLink]="menuItem.path" routerLinkActive="active">
					<i *ngIf="menuItem.icon" class="menu-icon {{menuItem.icon}}"></i>
					<span *ngIf="menuItem.label" class="menu-title">{{menuItem.label | translate}}</span>
				</a>
			</li>
		</ul>

	</div>

</nav>