.top-bar-container
	width: 100%
	height: 65px
	// background-color: #182738
	background-color: #00418c
	display: flex
	justify-content: flex-start
	align-items: center
	padding: 0 15px
	box-shadow: 0 0 10px 0 #182738
	position: fixed
	top: 0
	left: 0

	.left-side
		width: 200px

	.right-side
		flex: 1
		height: 100%

	.app-title
		font-size: 1.5rem
		color: #fff
		text-transform: none
		text-decoration: none

	.menu-options
		list-style: none
		padding: 0
		margin: 0
		display: flex
		justify-content: flex-start
		align-items: center
		height: 100%

		.menu-option

			.menu-link
				color: #fff
				font-size: 1.25rem
				padding: 10px 20px
				text-decoration: none
				text-align: center
				transition: border-bottom-color .2s
				position: relative

				&:hover,
				&.active
					cursor: pointer

					label, i
						cursor: pointer

					&::before
						border-color: #fff

				&::before
					content: ""
					position: absolute
					bottom: -9px
					left: 0
					width: 100%
					border-bottom: 3px solid transparent
